<div class='container p-4 ' id='newsletter'>
    <h3 class='lead'>Subscribe now to our</h3>
    <h2 class='text-center'>NEWSLETTER</h2>
        <div class='mx-auto py-3'>
        <label for="">Name</label>
        <input class='form-control p-3' type='text' />
    </div>
        <div class='mx-auto  py-3'>
        <label for="">E-mail</label>
        <input class='form-control p-3' type='text' />
    </div>
    <button class='btn btn-block btn-warning mb-4 p-3 text-white'><strong>SUBMIT</strong></button>
</div>