<% include ./partials/header %>
<%include ./partials/navbar %>

<header class='shadow-lg'>
    <div class='mx-auto d-flex justify-content-center align-items-center'>
    <div class='container'>
        <div class='p-2'>

                <h1>Help us build<br />the kind of<br />healthcare you want to use at work</h1>
                <p class='text-light'>
                    A better office healthcare ecosysten made by <strong>YOU</strong> for <strong>YOU</strong> is coming very soon. But first we want to solve hiring process and provide every establishments with best healthcare providers.
                </p>
        </div>
    </div>
<% include partials/newsletter %>
</div>
</header>
<main class='container-fluid'>
    <section class='container d-flex flex-md-row flex-wrap  align-content-md-center align-content-lg-center '>
            <% blog.map(item => {%>
                <article class='pb-3 m-2 shadow mx-auto-sm'>
                        <div class='img-container'>
                        <img src='<%= item.img %>' />
                </div>
                <h2 class='p-3'><a href='#'><%= item.title %></a></h2>
            </article>
            <% }) %>
    </section>
<% include ./partials/form %>

</main>
<footer class='container-fluid'>

</footer>
<% include ./partials/footer %>

