<% include ./partials/header %>
<div class='d-flex flex-column justify-content-center align-items-center' style='height: 100vh'>
    <% include ./partials/sign_up_form %>
    <div class='container'></div>
</div>
<%include ./partials/footer %>