@import url('https://fonts.googleapis.com/css?family=Raleway|Staatliches');

.navbar-brand > span {
    color: rgb(239,203,137) !important;
    font-weight: 700;
}
a {
    color: inherit;
}
a:hover {
    color: #FF9900;
}
.nav-link {
    color: #b2aba3 !important;
    font-weight:100;
    font-size: 1.3em;
}
.nav-link:hover {
    color: #FF9900 !important;
}
.navbar button:last-child {
    width: 100%;
    padding: 0.7em;
    margin-top: 0.4em;
    
}
@media(min-width: 768px){
    .navbar button:last-child {
        width: 300px;

        font-weight: 700;
    }
}
.navbar {
   background: #white;
   padding: 1em;
}
@media(max-width: 768px){
    header {
        height: 100vh;
    }

}
header {
    background-color: rgb(209,158,86);
    background: linear-gradient(90deg, rgba(209,158,86,0.7), rgba(0,0,0,0.7)), url('https://images.pexels.com/photos/1282308/pexels-photo-1282308.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat bottom;
    background-size: cover;
    
    background-attachment: scroll;
    background-attachment: fixed;
    width: 100%;
    height: 1100px;
    padding: 3em 0.5em;
    transition: 0.4s ease-in-out;
}
header > div {
    height: 100%;
    max-width: 1200px;
    color: white;
    flex-flow: row wrap;
}

header > div > .container > div {
    max-width: 350px;
}
#teaser {
    max-width: 370px !important;
}
header > div > .container > div h1 {
    font-family: 'Staatliches', cursive !important;
    font-size: 2.7em !important;
}
header > div > .container > div h3 {
    font-size: 1.8em !important;
}
header > div > .container > div p {
    font-family: 'Raleway', sans-serif !important;
    text-align: left;
}
@media(min-width: 924px){
    header > div {
        color: white;
        flex-flow: row;
    }
    
    header {
        height: 700px;
        padding: 3em;
    }
    header > div > .container > div h1 {
        font-size: 3.9em !important;
    }
}

/* MAIN DIV */
main section {
    max-width: 900px !important;
    padding: 3em 1em;
}    
main.container-fluid article {
    max-width: 500px;
    margin: 0 auto;
    flex: 1 100%;
}
@media (min-width: 700px){
    main.container-fluid {
        padding: 4rem 0;
    }
    main.container-fluid article {

        max-width: 500px;
        margin: 0 auto;
        flex: 1 28%;
    }
    main.container-fluid article:first-child {
        max-width: 1000px;
        margin: 0 auto;
        flex: 4 100%;
    }
    main.container-fluid article:first-child .img-container{
        height: 500px;
        
    }
    main.container-fluid article .img-container {
        height: 130px;
        overflow: hidden;
    
    }
}
@media (min-width: 1200px){
    main.container-fluid article .img-container {
        height: 180px;
        overflow: hidden;
    
    }
}

main.container-fluid article img {
    max-width: 100%;

}


main article h2, label {
    font-family: 'Staatliches', cursive !important;
    font-size: 2.0em !important;
    font-weight: 100;
    text-align: left;
}

footer {
    background:  #3D362D;
    height: 500px;
}
/* NEWSLETTER */
#newsletter {
    max-width: 400px !important;
}
#newsletter {
    background-color: #fff;
    color: #2f2f2f;
    box-shadow:0 0 10px grey, 15px 15px rgba(119,119,118,0.7), -30px -15px rgba(178,171,163, 0.8);
}
#newsletter h2 {
    font-family: 'Staatliches', cursive !important;
    font-size: 2.7rem;
}
form label {
    font-family: 'Staatliches', cursive !important;
}